/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

nav {
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
}

.menu {
  width: 344px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style: none;
  padding-top: 1em;
  border-top: 2px solid #ffffff;
}

.menu-item a {
  text-decoration: none;
  color: #000000;
}

.menu-item:hover,
.menu-item:hover {
  border-top-color: var(--main-color);
}

.menu-item:hover a {
  color: var(--main-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2em 0;
  margin-bottom: 2em;
}

.page-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em 0;
}

.page-title,
.page-subtitle {
  margin: 0;
  padding: 0;
}

.page-title {
  font-size: 22px;
}

.search {
  max-width: 380px;
  height: 50px;
  display: flex;
}

.search-location {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-location-icon {
  color: #000000;
  padding: 1em;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0 1em;
  border: 1px solid var(--main-bg-color);
}

.search-button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  color: #ffffff;
  background-color: var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.search-icon {
  display: none;
}

.search-text {
  font-weight: bold;
  font-size: 18px;
}

.filters {
  display: flex;
  gap: 0 1em;
  align-items: center;
}

.filters-title {
  font-weight: bold;
  font-size: 18px;
  align-items: flex-start;
}

.filters-list {
  display: flex;
  align-items: flex-start;
  gap: 0 1em;
  margin: 0;
  padding: 0;
}

.filters-item {
  list-style: none;
}

.filters-button {
  padding: 1em 2em;
  border-radius: 25px;
  outline: none;
  border: 2px solid #d9d9d9;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  gap: 0 1em;
  font-weight: bold;
}

.filters-button.active,
.filters-button:hover {
  background-color: var(--filter-bg-color);
}

.info {
  margin: 0;
  display: flex;
  gap: 0 0.5em;
  align-items: center;
}

.info-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: bold;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
#hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

#hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements .section-title {
  margin-bottom: 33px;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 1.3em;
}

.hebergements-cards img {
  height: 124px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 15px;
}

.hebergements-cards .card-txt > * {
  margin: 0;
  padding: 0;
}

.hebergements-cards .card-title {
  margin-bottom: 0.6em;
}

.hebergements-cards .card-subtitle {
  font-size: 14px;
  margin-bottom: 0.2em;
}

.hebergements .see-more {
  display: block;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin-top: 26px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/
#activites {
  padding: 1em;
  margin: 2rem 0;
}

.activites-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.activites-list .card {
  padding: 0;
  overflow: hidden;
}

.activites-list .card figure {
  margin: 0;
}

.activites-image {
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.activites-caption {
  font-size: 1em;
  font-weight: bold;
  padding: 1em 1.5em;
}

/****** Footer ***********/
.footer {
  background-color: var(--main-bg-color);
  padding: 0.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-section-title {
  font-size: 1.25em;
  font-weight: bold;
}

.footer-section-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.footer-section-list-item {
  list-style: none;
}

.footer-section-list-item a {
  color: #000000;
  text-decoration: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  #hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  .main-container > *:not(:first-child) {
    padding: 1em;
  }

  nav {
    padding: 0;
    height: 115px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .menu-container {
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .menu-item {
    border-top: none;
    flex: 1;
    padding-top: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--filter-bg-color);
    text-align: center;
  }

  .menu-item:hover {
    border-bottom-color: var(--main-color);
  }

  .search {
    width: 100%;
    max-width: none;
  }

  .search-icon {
    display: inline;
    color: #ffffff;
  }

  .search-button {
    aspect-ratio: 1/1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .search-text {
    display: none;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .filters-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .filters-button {
    width: 100%;
  }
}
