:root {
  /* Color */
  --primary: #0065fc;
  --soft-primary: #deebff;
  --grey: #d9d9d9;
  --soft-grey: #f2f2f2;
  /* Text sizes */
  --regular: 1em;
  --large: 1.375em;
}

/****** General ***********/
* {
  font-family: "Raleway", sans-serif !important;
  font-size: var(--regular) !important;
}

body {
  background: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  width: 122px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  width: 62px;
  height: 20px;
  object-fit: contain;
}

.menu {
  width: 100%;
  display: flex;
}

.menu-item {
  flex: 1;
  text-align: center;
  border-bottom: 2px solid var(--soft-grey);
  padding-bottom: 1em;
}

.menu-item a {
  text-decoration: none;
  color: #000000;
}

.menu-item.active {
  border-bottom-color: var(--primary);
}

.menu-item.active a {
  color: var(--primary);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

@media (min-width: 768px) {
  body {
    padding: 0 50px;
  }

  .navigation {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .brand {
    width: 162px;
  }

  .menu {
    width: auto;
    padding: 0 50px;
    width: 244px;
    justify-content: space-between;
  }

  .menu-item {
    padding-top: 1em;
    padding-bottom: 0;
    border-bottom: none;
    border-top: 2px solid var(--soft-grey);
  }

  .menu-item.active {
    border-top-color: var(--primary);
  }
}

@media (min-width: 1024px) {
}
